.group {
  position: absolute;
  border: 4px solid hsl(0deg 100% 50% / 30%);
  border-radius: 10px;
}
.card {
  position: absolute;
  border-radius: 6px;
  background: silver;
  box-shadow: 1px 1px 4px #888888;
}